<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FXHIII</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <script src="js/script.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.132.2/build/three.min.js"></script>
</head>
<body>
    <header>
        <img src="./assets/whitelogonb2.png">
        <nav>
            <a href="/">// Home </a>
            <a href="/projects">// Projects</a>
            <a href="/experience">// Experience</a>
            <a href="/blog">// Blog</a>
        </nav>
        <div class="floating-cube"></div>
    </header>
    <main>

    </main>
    <footer>
        <button id="modeToggle">Light Mode</button>
        <div class="icons">
            <div class="icon">
                <!--LinkedIn-->
                <a href="https://www.linkedin.com/"><img class="linkedin" src="./assets/linkedin.png" alt="LinkedIn"></a>
            </div>
            <div class="icon">
                <!--GitHub-->
                <a href="https://github.com/fxhanloniii"><img class="github" src="./assets/githubDark.png" alt="GitHub"></a>
            </div>
            <div class="icon">
                <!--Twitter-->
                <a href="https://twitter.com/FrankieXHanlon"><img class="twitter" src="./assets/twitterDark.png" alt="GitHub"></a>
            </div>
        </div>
    </footer>
</body>
</html>